@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Kanit, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-height: 100vh;
  background-color: #b3e9c7;
  position: relative;
}
body main {
  z-index: 0;
}

.button-1 {
  border: none;
  padding: 10px;
  border-radius: 5px;
  min-width: max-content;
  font-size: medium;
  font-weight: 500;
  background: radial-gradient(circle, #B572FD, #8367c7);
  color: white;
  transition: all;
  transition-duration: 200ms;
}
.button-1:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
.button-1:active {
  transform: scale(1);
}

header {
  position: sticky;
  top: 0px;
  background: linear-gradient(to right, #8367c7 0%, #5603ad 20%, #5603ad 80%, #8367c7 100%);
  padding-inline: 10px;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  max-width: 1200px;
  gap: 10px;
  color: white;
  margin-top: 10px;
}
.header-container a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}
.header-container svg {
  width: 30px;
  height: auto;
}

.header-logo {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
}
.header-logo img {
  height: 100%;
}

.header-user-cart {
  display: flex;
  position: relative;
  gap: 10px;
}
.header-user-cart svg:hover {
  cursor: pointer;
}

.header-navbar a {
  text-decoration: none;
}
.header-navbar > ul {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
}
.header-navbar > ul > li {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.header-navbar > ul > li:hover ul {
  display: block;
}
.header-navbar > ul > li > a {
  background-color: #b3e9c7;
  border-radius: 5px;
  padding: 5px;
  color: black;
}
.header-navbar > ul > li ul {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, #5603ad, #8367c7);
  border-radius: 5px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}
.header-navbar > ul > li ul li {
  margin: 10px;
}
.header-navbar > ul > li ul li a {
  color: white;
}
.header-navbar ul {
  padding: 0;
  list-style: none;
}

#cart-container :hover {
  cursor: pointer;
}

#cart-amount-items {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #B572FD;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -3px;
}

.full-carrito {
  z-index: 2;
  position: fixed;
  top: 0;
  right: -600px;
  bottom: 0;
  background: linear-gradient(#8367c7 0%, #B572FD 20%, #B572FD 80%, #8367c7 100%);
  color: white;
  text-decoration: none;
  width: min(600px, 100%);
  text-align: center;
  display: grid;
  grid-template-rows: 50px 1fr 100px;
  gap: 10px;
  padding-inline: 10px;
  transition: 500ms cubic-bezier(0.5, 0, 0, 1);
}
.full-carrito h3 {
  align-self: center;
  font-size: x-large;
  font-weight: 400;
}
.full-carrito footer {
  display: flex;
  flex-direction: column;
}
.full-carrito footer div {
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
}

.open-cart .full-carrito {
  right: 0;
}

header, main, main + footer {
  transition: 500ms cubic-bezier(0.5, 0, 0, 1);
}

.open-cart header, .open-cart main, .open-cart main + footer {
  transform: translateX(-260px);
}

.carrito-title {
  display: flex;
  justify-content: space-between;
}
.carrito-title button, .carrito-title div {
  width: 50px;
  height: 50px;
}
.carrito-title button {
  border: none;
  border-radius: 5px;
  background-color: #5438DC;
  color: white;
}
.carrito-title button:hover {
  cursor: pointer;
}

.lista-carrito {
  display: grid;
  grid-auto-rows: 50px;
  overflow: scroll;
}

.template-carrito {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-radius: 5px;
  background-color: #8367c7;
}

.item-carrito {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 112px));
  align-items: center;
  gap: 5px;
}
.item-carrito:nth-child(odd) {
  border-radius: 5px;
  background-color: #8367c7;
}
.item-carrito .cantidad-prod input {
  min-width: auto;
}
.item-carrito .nombre-prod {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-carrito .manage-quantity {
  justify-self: center;
}

#finalizar-compra {
  width: 100%;
  background-color: #5438DC;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-inline: 10%;
  gap: 10px;
}
@media (width <= 768px) {
  .products-container {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    margin-inline: 10px;
  }
}
@media (width <= 425px) {
  .products-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.product {
  display: grid;
  grid-template-rows: repeat(3, max-content) 1fr;
  background-color: #5438DC;
  text-align: left;
  font-weight: normal;
  border-radius: 5px;
  color: white;
  width: 100%;
  overflow: hidden;
}

.product-image-container {
  display: block;
  overflow: hidden;
}
.product-image-container img {
  width: 100%;
  height: auto;
}

.product-title-container {
  padding-top: 5px;
  padding-inline: 10px;
}
.product-title-container a {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #ddd;
  text-decoration: none;
}
.product-title-container a:hover {
  text-decoration: underline;
}

.product-price-container {
  padding-bottom: 5px;
  padding-inline: 10px;
}
.product-price-container h2 {
  font-size: x-large;
  font-weight: normal;
}
.product-price-container .product-full-precio-container h3 {
  font-weight: 300;
  color: lightgray;
}
.product-price-container .product-full-precio-container span {
  outline: none;
}

.product-addtocart-container {
  align-self: flex-end;
}
.product-addtocart-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: radial-gradient(circle, #B572FD, #8367c7);
  color: white;
  border: none;
}
.product-addtocart-container button * {
  transition: all;
  transition-duration: 100ms;
}
.product-addtocart-container button:hover {
  cursor: pointer;
}
.product-addtocart-container button:hover * {
  transform: scale(1.1);
}
.product-addtocart-container button:active * {
  transform: scale(1);
}

#no-encontrado {
  display: block;
}

.product-full-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-inline: 10px;
}
@media (width <= 768px) {
  .product-full-container {
    grid-template-columns: 1fr;
  }
  .product-full-container .product-full-image-container {
    width: 100%;
    justify-self: center;
  }
}

.product-full-image-container {
  max-width: 500px;
  width: max-content;
  justify-self: right;
}
.product-full-image-container img {
  width: 100%;
}

.product-description {
  order: 2;
  max-width: 500px;
  justify-self: right;
  text-align: left;
}
@media screen and (width <= 768px) {
  .product-description {
    order: 1;
  }
}

.product-aside h1 {
  text-align: left;
  font-size: xx-large;
}

.product-full-precio-container {
  text-align: left;
}
.product-full-precio-container h3 {
  display: inline;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400;
  font-size: medium;
}
.product-full-precio-container h2 {
  font-size: xx-large;
  font-weight: 500;
}
.product-full-precio-container span {
  display: inline-block;
  margin-left: 5px;
  background-color: rgb(0, 216, 0);
  border-radius: 5px;
  padding-block: 4px;
  padding-inline: 10px;
}

.product-buy-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.product-full-stock-container {
  color: rgba(0, 0, 0, 0.55);
}

.manage-quantity {
  display: flex;
  align-items: center;
}
.manage-quantity button, .manage-quantity input {
  width: 30px;
  height: 30px;
  border: none;
}
.manage-quantity button {
  font-size: large;
}
.manage-quantity button:hover {
  cursor: pointer;
}
.manage-quantity button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.manage-quantity button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.manage-quantity input {
  outline: none;
  min-width: max-content;
  text-align: center;
}
.manage-quantity input::-webkit-inner-spin-button, .manage-quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.full-view {
  width: 120px;
}

main + footer {
  background: linear-gradient(to right, #8367c7 0%, #5603ad 20%, #5603ad 80%, #8367c7 100%);
  text-align: center;
  color: white;
  padding-block: 20px;
}

/*# sourceMappingURL=styles.css.map */
